.banner {
    width: 1140px;
    max-width: 100%;
    padding-top: 50%;

    background: url('/banner.png') top center no-repeat;
    background-size: cover;
}

@media (max-width: 1023px) {
    .banner {
        background-size: contain;
    }
}

@media (max-width: 414px) {
    .banner {
        padding-top: 30%;
    }
}
